<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CropDiagnosis</title>
	<!-- Page styles -->
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,greek" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="styles1.css">
</head>
<body>

<header class="app-bar promote-layer">
	<div class="app-bar-container">
		<!-- <button class="menu"><i class="icon icon-hamburger"></i></button> -->
		<!-- <h1 class="logo"><img src="/content/crops/graphics/crop-diagnosis-master-logo.svg" width="100%" alt="CropDiagnosis"></h1> -->
        <h1><img src="https://www.cropdiagnosis.com/content/crops/graphics/crop-diagnosis-master-logo.svg" alt="CropDiagnosis"></h1>
	</div>
</header>


<nav class="navdrawer-container promote-layer">
	<!-- <h4>Navigation</h4> -->
	<ul>
		<li><a href="#about">About</a></li>
		<li><a href="#modus-operandi">How it works</a></li>
		<li><a href="#benefits">Benefits</a></li>
		<li><a href="#excellence">Excellence</a></li>
		<li><a href="#fiware">FIWARE</a></li>
	</ul>
</nav>

<main>

	<section class="styleguide__page-header">
		<div class="page-header">
			<div class="container">
				<h3 id="about" class="xlarge text-divider">
					The easiest way<br>to keep your plants healthy
				</h3>
				<p class="page-header__excerpt g-wide--push-1 g-wide--pull-1">
					CropDiagnosis is a ​mobile application aiming to improve pest management decisions by making crop diagnosis more accurate,
					selection of chemicals error-free and application assisted by personalised instructions.
				</p>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<ul class="list-guides-intro list-centered list--reset clear">
				<li class="g--third theme--green">
					<a class="themed">
						<span class="icon-circle--large themed--background"><i class="icon icon-butterfly3"></i></span>
						<h3 class="large text-divider">Pest<br>Recognition</h3>
					</a>
					<p>Automated diagnosis through a smart questionnaire</p>
				</li>
				<li class="g--third theme--green">
					<a class="themed">
						<span class="icon-circle--large themed--background"><i class="icon icon-pipette2"></i></span>
						<h3 class="large text-divider">Product<br>Recommendation</h3>
					</a>
					<p>Personalized list of matching chemicals</p>
				</li>
				<li class="g--third theme--green g--last">
					<a class="themed">
						<span class="icon-circle--large themed--background"><i class="icon icon-vehicle50"></i></span>
						<h3 class="large text-divider">Application<br>Instructions</h3>
					</a>
					<p>Detailed and accurate</p>
				</li>
			</ul>
		</div>
	</section>

	<section>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/ZnrRUF-grkU?color=white&amp;modestbranding=1&amp;showinfo=0" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div style="padding-bottom: 3em;">&nbsp;</div>
    </section>
    

	<!-- <section class="styleguide__guides-section">
		<div class="guides-section">
			<header class="container">
				<h2 id="modus-operandi" class="xxlarge">How it Works</h2>
				<p>
					By evaluating the crop's details (type, location, soil, history, etc) and threat’s characteristics (type,
					appearance, progress, etc), as entered by the user through a smart questionnaire, the app suggests the most likely
					diagnosis.
				</p>
			</header>
			<ul class="guides-list container-medium">
				<li class="guides-list__item g--half theme--orange">
					<div class="primary-content">
						<h3 class="xlarge">
							<a class="themed">Describe your cultivation</a>
						</h3>
						<p>
							CropDiagnosis needs the cultivation’s details such as type, location, soil and the threat’s characteristics
							(type, appearance, progress, etc) in order to come to conclusions.
						</p>
					</div>
					<div class="secondary-content">
						<span class="icon-circle themed--background"><i class="icon">1</i></span>
						<ol class="list-links list-links--secondary">
							<li><a href="#">
								<img src="/content/crops/screenshots/mock1.png">
							</a></li>
						</ol>
					</div>
				</li>
				<li class="guides-list__item g--half theme--orange g--last">
					<div class="primary-content">
						<h3 class="xlarge">
							<a class="themed">Answer a few questions</a>
						</h3>
						<p>
							In order to help CropDiagnosis recognize the problem, the user needs to answer a smart questionnaire.
							Then, the app suggests the most likely diagnosis.
						</p>
					</div>
					<div class="secondary-content">
						<span class="icon-circle themed--background"><i class="icon">2</i></span>
						<ol class="list-links list-links--secondary">
							<li><a href="#">
								<img src="/content/crops/screenshots/mock2.png">
							</a></li>
						</ol>
					</div>
				</li>
				<li class="guides-list__item g--half theme--orange">
					<div class="primary-content">
						<h3 class="xlarge">
							<a class="themed">Select the best product</a>
						</h3>
						<p>
							The app presents a filtered list of matching products (chemicals) that can mitigate the problem.
						</p>
					</div>
					<div class="secondary-content">
						<span class="icon-circle themed--background"><i class="icon">3</i></span>
						<ol class="list-links list-links--secondary">
							<li><a href="#">
								<img src="/content/crops/screenshots/mock3.png">
							</a></li>
						</ol>
					</div>
				</li>
				<li class="guides-list__item g--half theme--orange g--last">
					<div class="primary-content">
						<h3 class="xlarge">
							<a class="themed">Get application instructions</a>
						</h3>
						<p>
							With a given product selected, the application proceeds with the presentation of detailed and personalised
							application instructions.
						</p>
					</div>
					<div class="secondary-content">
						<span class="icon-circle themed--background"><i class="icon">4</i></span>
						<ol class="list-links list-links--secondary">
							<li><a href="#">
								<img src="/content/crops/screenshots/mock4.png">
							</a></li>
						</ol>
					</div>
				</li>
			</ul>
		</div>
	</section> -->
    <section>
        <div class="container">
            <h2 id="benefits">Benefits</h2>
            <p>
                Plant disorders may be caused by fungi, bacteria, viruses, nematodes, phytoplasmas, pests, insects, weeds, and other
                pathogens. In order to identify and treat an occurring problem, a grower needs to single out all the symptoms and signs
                of the plant's condition. Symptoms include wilt, galls, cankers, rots, necrosis, chlorosis as well as underdevelopment
                and overdevelopment. Signs, on the other hand, may appear as an ooze, a cottony mass, or sometimes a black or pink mass
                on the plant.
            </p>
            <p>
                Achieving an accurate treatment plan is much more challenging than simply comparing these pathogens and symptoms to an
                agricultural handbook's entries, since:
            </p>
            <ul style="list-style-type:none;">
                <li>🌿 Many biotic and abiotic agents can cause similar injury symptoms.</li>
                <li>🌿 Different plant species have different disorders.</li>
                <li>🌿 The causal agent (e.g. an insect) may no longer be present when damage is noticed.</li>
                <li>🌿 Many plant diseases have no external signs that allow you to positively identify the cause.</li>
                <li>🌿 Weather and unfavorable growing conditions may interact with the pathogen to increase or decrease severity of the problem.</li>
            </ul>
            <p>
                Moreover, pest management in agriculture is a topic of high economic and environmental importance. Errors in selection
                and application of chemicals to treat cultivation problems lead to crop losses, soil loading, and increased expenses due
                to needless use of pesticides, fertilizers, growth regulators, and additives. Overuse of such products weakens plant root
                systems and immune systems and reduces concentrations of essential plant nutrients in the soil such as nitrogen and
                phosphorous. Consequently, the cultivation productivity is reduced in the long term.
            </p>
            <p>
                CropDiagnosis is a ​mobile application that will improve pest management decisions by making crop diagnosis more
                accurate, selection of indicated chemical error-free, and application assisted by personalized instructions. By
                using the application, a grower can:
            </p>
            <ul style="list-style-type:none;">
                <li>🌿 Prevent errors that cost time and money</li>
                <li>🌿 Stop being exposed to chemicals for no reason</li>
                <li>🌿 Maximize farm’s productivity</li>
                <li>🌿 Protect the environment</li>
            </ul>
    
            <p>CropDiagnosis is designed to achieve high performance, usability, and ease of use. It consists of:</p>
            <ul style="list-style-type:none;">
                <li>🌿 An updated agricultural database loaded with open and coded data</li>
                <li>🌿 A smart reasoning machine (artificial intelligence)</li>
                <li>🌿 The mobile applications, available for Android and iOS operating systems</li>
            </ul>
        </div>
    </section>
    
    

</main>

<section>
	<div class="featured-spotlight">
		<div class="container-medium">
			<div class="featured-spotlight__container g--pull-half">
				<div class="featured-spotlight__img">
					<img src="/content/crops/images/21st-century-farming.jpg" alt="wide image placeholder example">
				</div>
				<div class="container-small">
					<h3 class="xxlarge" id="excellence">Technical Excellence</h3>
					<p>
						Why is technical excellence so important to us? Because it means we can offer our clients best in practice
						solutions they can value and trust. The research and development team consists of highly qualified and experienced
						programmers and researchers. They are dedicated problem solvers who handle not only software development, but also
						other IT works, such as project analysis, design, documenting and testing.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h2 id="fiware">FIWARE community member</h2>
		<p>
			The FIWARE Acceleration Programme aims at promoting the take up of FIWARE technologies among solution
			integrators and application developers, with special focus on SMEs and start-ups.
		</p>
		<p>
			The development team of CropDiagnosis has been selected by FINODEX, a FIWARE accelerator that funds and
			provides support services to projects from SMEs &amp; Web Entrepreneurs building upon the FIWARE technology
			and reusing Open Data.
		</p>
	</div>
</section>

<section class="styleguide__quote">
	<div class="quote">
		<div class="container">
			<blockquote class="quote__content g-wide--push-1 g-wide--pull-1 g-medium--push-1">
				FINODEX is an opportunity for us to develop groundbreaking ICT solutions for the agrifood sector, supported by business and FIWARE experts.
				<p>George Nikolaidis / Technical Lead</p>
			</blockquote>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h2>Subscribe to our mailing list</h2>
		<p>
			Receive updates about CropDiagnosis in your mailbox by subscribing to our mailing list.
		</p>
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
			<form action="//ergobyte.us12.list-manage.com/subscribe/post?u=9c5d91d5f2b87af16345f140a&amp;id=5774718956" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
					<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
					<div class="mc-field-group">
						<label for="mce-FNAME">First Name </label>
						<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
					</div>
					<div class="mc-field-group">
						<label for="mce-LNAME">Last Name </label>
						<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_9c5d91d5f2b87af16345f140a_5774718956" tabindex="-1" value=""></div>
					<div class="clear">
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]="EMAIL";ftypes[0]="email";fnames[1]="FNAME";ftypes[1]="text";fnames[2]="LNAME";ftypes[2]="text";}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		<!--End mc_embed_signup-->
	</div>
</section>

<section>
	<div class="container">
		<p style="text-align: center;">
			<a href="https://play.google.com/store/apps/details?id=com.ergobyte.weco.crops" target="_blank">
				<img alt="Android app on Google Play" src="/content/crops/images/google-play-icon.png" />
			</a>
		</p>
		<p style="text-align: center;">
			<a href="https://twitter.com/@cropdiagnosis" class="cta--primary" target="_blank" style="padding-right: 4em;">Twitter</a>
			<a href="https://facebook.com/CropDiagnosis" class="cta--primary" target="_blank" style="padding-right: 4em;">Facebook</a>
			<a href="https://www.fiware.org/" class="cta--primary" target="_blank" style="padding-right: 4em;">FIWARE</a>
			<a href="http://www.finodex-project.eu/" class="cta--primary" target="_blank">Finodex</a>
		</p>
	</div>
</section>

<footer class="highlight-module highlight-module--right highlight-module--remember">
	<div class="highlight-module__container icon-plant-leaf1 ">
		<div class="highlight-module__content g-wide--push-1 g-wide--pull-1 g-medium--pull-1 ">
			<p class="highlight-module__title">Contact</p>
			<blockquote>
				Ergobyte Informatics S.A.<br>
				21, Aristotelous str. &mdash; 54624 Thessaloniki<br>
				Tel: +302310288434<br>
				E-mail: <a href="mailto:info@ergobyte.gr">info@ergobyte.gr</a> &mdash;
				Website: <a href="https://www.ergobyte.gr" target="_blank">www.ergobyte.gr</a>
			</blockquote>
		</div>
	</div>
</footer>

</body>
</html>

